.LoadingScreen {
    position: relative;
    height: 200px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

.brain {
    position: fixed;
    top: 42%;
    left: 45%;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
